# ===== MySQL =====
DB_ROOT_PASS=change_me_root
DB_NAME=lost_ark
DB_USER=daloa
DB_PASS=change_me_user
DB_PORT=3306

# ===== Redis =====
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=change_me_redis
REDIS_DB=0

# ===== NestJS =====
PORT=3001
CLIENT_ORIGIN=https://daloa.com

# ===== API Keys =====
LOSTARK_API_KEY=your_lostark_api_key
YOUTUBE_API_KEY=your_youtube_api_key

# ===== Kakao =====
KAKAO_REST_API_KEY=your_kakao_rest_api_key
KAKAO_REFRESH_TOKEN=your_kakao_refresh_token
KAKAO_CLIENT_SECRET=your_kakao_client_secret
